/* body {
	background-image: url('https://i.imgur.com/yrJxm7O.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
} */
.recipe {
	width: 80vw;
	border: 5px solid rgb(128, 128, 0);
    margin: 50px auto;
    padding: 10px;
    background-color: rgba(215, 185, 127, 0.7);
}
.beerName {
	margin: 20px 0px 0px 0px;
}
.tagline {
	margin-top: 5px;
}

@media (min-width:1400px){
	.recipe {
	width: 900px;
	}
}