.randomBeer {
	width: 80vw;
	height: 100%;
	border: 5px solid rgb(128, 128, 0);
	margin: 50px auto;
	padding: 20px 20px;
	background-color: rgba(215, 185, 127, 0.85);
}
.fullRecipe {
    /* text-decoration: none; */
    color: rgb(160, 82, 45);
    margin-left: 30px;
    font-size: 18px;
    padding: 15px;
}

.fullRecipe:hover{
    background-color: rgba(128, 128, 0, 0.6);
}

@media (min-width:1100px){
	.randomBeer {
	width: 900px;
	}
}